<body>
  <img src="https://cooperative-oasis.org/wp-content/uploads/Logo-Oasis.jpg" alt="Coopérative Oasis" style="max-width: 100%; max-height: 80px;">
  <p>Bonjour,</p>
  <p>{{actor.pair:firstName}} {{actor.pair:lastName}} souhaite poster une annonce immobilière "{{resource.pair:label}}".</p>
  <p>Pour la valider, rendez-vous sur <a href="{{editUrl}}">ce lien</a> et sélectionnez le statut "Publié".</p>
  <p>
      Cordialement,<br/>
      L'équipe de la Coopérative Oasis
  </p>
</body>
