<body>
  <img src="https://cooperative-oasis.org/wp-content/uploads/Logo-Oasis.jpg" alt="Coopérative Oasis" style="max-width: 100%; max-height: 80px;">
  <p>{{actor.pair:firstName}},</p>
  <p>Votre annonce immobilière "{{resource.pair:label}}" a été validée !</p>
  <p>Si vous souhaitez encore la modifier, vous pouvez le faire sur <a href="{{editUrl}}">ce lien</a>.</p>
  <p>En cas de problème, n'hésitez pas à nous contacter !</p>
  <p>
      Cordialement,<br/>
      L'équipe de la Coopérative Oasis
  </p>
</body>
