<body>
  <a href="https://destination-oasis.fr">
    <img src="https://destination-oasis-srosset81.vercel.app/title.png" alt="Destination Oasis" style="max-width: 100%; max-height: 120px;">
  </a>
  <p>{{actor.pair:firstName}},</p>
  <p>Vous avez été invité à rejoindre Destination Oasis en tant qu'acteur.</p>
  <p>Cela vous permettra d'éditer la page de votre oasis: {{place.pair:label}}.</p>
  <p>Pour initialiser votre mot de passe, rendez-vous sur <a href="{{resetUrl}}">ce lien</a>.</p>
  <p>Vous pourrez vous ensuite vous connecter et éditer votre oasis.</a>.</p>
  <p>En cas de problème, n'hésitez pas à nous contacter !</p>
  <p>
      Cordialement,<br/>
      L'équipe de la Coopérative Oasis
  </p>
</body>
